<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/score_board.css') }}"/>
</head>
{#{% block content %}#}
<h1><span class="blue">&lt;</span>SHUGGLE<span class="blue">&gt;</span> <span class="yellow">{{ competition_name }}</span></h1>
<h2>享受数据科学的乐趣😎 <a href="https://github.com/pablorgarcia" target="_blank">  来自SHU计算机工程与科学学院</a></h2>

<table class="container">
	<thead>
		<tr>
			<th><h1>排名</h1></th>
			<th><h1>用户id</h1></th>
            <th><h1>用户名</h1></th>
			<th><h1>用户得分</h1></th>
		</tr>
	</thead>
	<tbody>
        {% for i in range(num) %}
            <tr>
                <td>{{index_list[i]}}</td>
                <td>{{score[i].user_id}}</td>
                <td>{{name[i]}}</td>
                <td>{{score[i].score}}</td>
{#                <td>ele.score</td>#}
{#                  <td>1</td>#}
{#                  <td>1</td>#}
            </tr>
        {% endfor %}
		<tr>
{#			<td>Google</td>#}
{#			<td>9518</td>#}
{#			<td>6369</td>#}
{#			<td>01:32:50</td>#}
{#		</tr>#}
{#		<tr>#}
{#			<td>Twitter</td>#}
{#			<td>7326</td>#}
{#			<td>10437</td>#}
{#			<td>00:51:22</td>#}
{#		</tr>#}
{#		<tr>#}
{#			<td>Amazon</td>#}
{#			<td>4162</td>#}
{#			<td>5327</td>#}
{#			<td>00:24:34</td>#}
{#		</tr>#}
{#    <tr>#}
{#			<td>LinkedIn</td>#}
{#			<td>3654</td>#}
{#			<td>2961</td>#}
{#			<td>00:12:10</td>#}
{#		</tr>#}
{#    <tr>#}
{#			<td>CodePen</td>#}
{#			<td>2002</td>#}
{#			<td>4135</td>#}
{#			<td>00:46:19</td>#}
{#		</tr>#}
{#    <tr>#}
{#			<td>GitHub</td>#}
{#			<td>4623</td>#}
{#			<td>3486</td>#}
{#			<td>00:31:52</td>#}
{#		</tr>#}
	</tbody>
</table>